@font-face {
  font-family: 'Roboto';
  src: url('./roboto-latin-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./roboto-latin-300.woff2') format('woff2'),
       url('./roboto-latin-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./roboto-latin-400.woff2') format('woff2'),
       url('./roboto-latin-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./roboto-latin-500.woff2') format('woff2'),
       url('./roboto-latin-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./roboto-latin-700.woff2') format('woff2'),
       url('./roboto-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}