[data-theme='dark'] {
    --theme-bg: #0f172a;
    --theme-paper: #1e293b;
    --theme-border: #334155;
    --theme-text-main: #f8fafc;
    --theme-text-muted: #94a3b8;

    --overlay-bg: rgba(0, 0, 0, 0.7);
}