@font-face {
    font-family: 'Material Icons';
    src: url('./MaterialIcons-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }